{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": ["plugin:react-hooks/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-throw-literal": "warn",
    "no-useless-rename": "warn"
  }
}
